# // examples/node — validate every SDK feature.
# // examples/vanilla — prove browser compatibility.
# // examples/react — demonstrate component integration.
# // examples/nextjs — serve as the polished flagship example for the GitHub repository and npm package.


RPC_URL=https://rpc.zerodev.app/api/v3/a26a0058-c9c3-4c35-a01c-f5f76aae4d33/chain/421614

BUNDLER_RPC=https://rpc.zerodev.app/api/v3/a26a0058-c9c3-4c35-a01c-f5f76aae4d33/chain/421614

PAYMASTER_RPC=https://rpc.zerodev.app/api/v3/a26a0058-c9c3-4c35-a01c-f5f76aae4d33/chain/421614

PRIVATE_KEY=0x3b68ec4f25c0e89e037a24381536852c7e0d5e5de7d6642dea7347406ce96f38

BILLING_CONTRACT=0x95Dc1594733bC3eee42e3f0c226BBC454077a374

SUPABASE_URL=https://ohajuxzwzatajftdzmpk.supabase.co

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oYWp1eHp3emF0YWpmdGR6bXBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwOTM4NDYsImV4cCI6MjEwMDY2OTg0Nn0.yLkvwaNvxehOdaH_HbFZlxCG7cfarNRHdlYUbmPX8rE


